node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
.DS_Store
.git
.gitignore
.vscode
coverage
output
dist
test-results
.prisma
.env
.env.*
src/**/*.test.ts
src/test/
prisma/seed.ts
prisma/migrations/
*.md
!README.md
