# Example Terraform variables file
# Copy this file to terraform.tfvars and adjust values as needed

resource_group_name = "blake-team4-rg"
location            = "UK South"
environment         = "dev"
acr_login_server    = "academyacrj3r5dv.azurecr.io"
backend_image_tag   = "abc1234"

tags = {
  owner   = "team4"
  project = "backend"
}