# Copy this file to secrets.tfvars and fill in your actual values
# secrets.tfvars is gitignored and should NEVER be committed

db_admin_password = "YourSecurePasswordHere123!"
jwt_secret        = "your-super-secret-jwt-key-at-least-32-chars"
